<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>iSpraker, explore the crowd!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag    "bootstrap" %>
    <%= stylesheet_link_tag    "bootstrap-responsive" %>
    <%= stylesheet_link_tag    "overrides" %>
    
    

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= csrf_meta_tags %>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29154126-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>
  
  <body>
    <%= yield %>
    
    <footer class="darkgrey">
        <hr>
      <div class="container">
      <p>&copy; iSpraker 2012</p>
      </div>
    </footer>
  </body>
</html>
